@{
    ViewData["Title"] = "Our Story";
}
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<header class="jumbotron row-cols-sm-6" style="opacity:.6; color:black; font-family:Nothing You Could do">
    <i class='fas fa-bible' style='font-size: 36px; color: goldenrod;'></i>
    “Now, if it were the case that Christianity were true, would you want to know it?”
    <i class='fas fa-quran' style='font-size: 36px; color:goldenrod'></i>
    <img src="~/Images/nabeel.jpg" alt="Nabeel Qureshi" class="img-fluid rounded-circle" style="width:20%" />
</header>
<body>
    <p>
        Nabeel Qureshi was a muslim born American from Pakistani descent. <br />
        After spending years living and loving Islam, he met David Wood in college.<br />
        After four years of studying evidence for both the Quran and the Bible, he decided to live his life to Christ.<br />
    </p>
    <p>
        <div class="col-sm-8 row">
            Nabeel died in 2017, leaving behind a wife and daughter, as well as a powerful message.
            His friend, David Wood, has since continued to share the truth about the Quran.
            This way, David Wood has been able to lead a lot of people away from Islam.
            However, he has not been focusing on leading these people to Christ.
        </div>
    </p>
    <p class="text-warning text-capitalize text-lg-left">
        That is where we come in.
    </p>
    <p class="jumbotron" style="opacity:.6;">
        The Bible tells us in 1 Peter 3:15:<br />
        <br />
        <i>But in your hearts honor Christ the Lord as holy, always being prepared to <b>make a defense to anyone who asks you for a reason for the hope that is in you</b>; yet do it with gentleness and respect.</i>
        <br />
        <br />
        And in Psalm 96:3 that:<br />
        <i>Declare his glory among the nations, his marvelous works among <b><u>all the peoples!</u></b></i>
        <br />
        <br />
        And in Romans 1:16<br />
        <i>For I am not ashamed of the gospel, for it is the power of God for salvation to everyone who believes, to the Jew first and also to the Greek.</i>
    </p>
    <p>
        We do not simply want to share the truth about Islam with muslims to lead them away from Islam.<br />
        We want them to learn about Jesus, to get them saved, to guarantee their heaven.<br />
        That is why we do not simply share information, we share the <b>good news of the gospel.</b>
    </p>
</body>