@{
    ViewData["Title"] = "Contact Us";
}

<h1>Seeking Allah Finding Jesus</h1>
<h2>Carrying on Nabeel's Legacy</h2>

<div class="col-sm-12 mt-5 list-group list-group-vertical" style="opacity:.6">
    <a class="list-group-item-action list-group-item list-group-item-warning">Rainmaker Ministries</a>
    <a class="list-group-item-action list-group-item list-group-item-light">Address: 225 West Fourteenth Street<br />Traverse City, MI 49696</a>
    <a class="list-group-item-action list-group-item list-group-item-warning">Email: warning@makeitrain.com</a>
    <a class="list-group-item-action list-group-item list-group-item-light">Phone: (844) 995-7246</a>
    <a href="https://www.facebook.com/rainmakerministries" class="list-group-item-action list-group-item list-group-item-warning">Facebook: RainmakerMinstries </a>
    <a href="https://www.youtube.com/rainmakerministries" class="list-group-item-action list-group-item list-group-item-light">Youtube: Rainmaker Ministries</a>
</div>

<div class="col-sm-12 mt-5 list-group list-group-vertical" style="opacity:.6">
    <a href="https://www.amazon.com/Seeking-Allah-Finding-Jesus-Christianity/dp/0310527236" class="list-group-item-action list-group-item list-group-item-warning">Buy Seeking Allah Finding Jesus</a>
    <a href="http://www.nabeelqureshi.com/seeking-allah-finding-jesus" class="list-group-item-action list-group-item list-group-item-light">Nabeel Qureshi's website</a>
    <a href="https://www.youtube.com/user/Acts17Apologetics" class="list-group-item-action list-group-item list-group-item-warning">David Wood</a>
</div>