@{
    ViewData["Title"] = "Seeking Allah Finding Jesus";
}

    <div class="col-sm-8 mt-5 list-group list-group-vertical" style="font-family: 'Indie Flower', cursive; opacity: .7">
        <a class="list-group-item-action list-group-item list-group-item-light">
            “I could not put the Bible down. I literally could not. It felt as if my heart would stop beating, perhaps implode, if I put it down.”
        </a>
        <a class="list-group-item-action list-group-item list-group-item-warning">
            “The gospel is not just an answer that works; it is the only answer that will work.”
        </a>
        <a class="list-group-item-action list-group-item list-group-item-light">
            “Would it be worth it to pick up my cross and be crucified next to Jesus? If He is not God, then, no. Lose everything I love to worship a false God? A million times over, no!
            But if He is God, then yes. Being forever bonded to my Lord by suffering alongside Him? A million times over, yes!”
        </a>
        <a class="list-group-item-action list-group-item list-group-item-warning">
            “Now I knew what it meant to follow God. It meant walking boldly by His Spirit of grace and love, in the firm confidence of everlasting life given through the Son, with the eternal purpose of proclaiming and glorifying the Father. Now I had found Jesus.”
        </a>
        <a class="list-group-item-action list-group-item list-group-item-light">
            “But what if His majesty is not as important to Him as His children are?”
        </a>
        <a class="list-group-item-action list-group-item list-group-item-warning">
            “Glorified is my Lord . . . Who is my Lord? Who are You, Lord? Are You Allah, the God of my father and forefathers? Are You the God I have always worshiped? The God my family has always worshiped? Surely You are the one who sent Muhammad 1 as the final messenger for mankind and the Quran as our guide? You are Allah, the God of Islam, aren’t You? Or are You . . .” I hesitated, fighting the blasphemy I was about to propose. But what if the blasphemy was the truth? “Or are You Jesus?”
        </a>
    </div>
